## 서울메트로 무임승차 현황과 분석에 따른 조정안 제시
### 분석 목표
- 서울시 지하철의 일반승객 대비 무임승차 비율을 알아본다.
- 무임승차 중 노령인구의 비율을 알아보고, 서울시 인구통계를 통해 앞으로의 추세를 살펴본다.
- 이 모두를 분석한 후, 서울지하철의 적자폭을 개선하려면 무임승차 비율을 얼마로 조정해야하는지 확인해본다.

#### 서울지하철 무임승차로 인한 적자비율 이대로 괜찮은가?
서울 지하철공사, 서울메트로의 적자폭이 매년 늘어나고 있다는 기사를 확인해본다.
- 기사 원문 
         http://www.yonhapnews.co.kr/bulletin/2017/04/26/0200000000AKR20170426056500004.HTML
         http://news.jtbc.joins.com/article/article.aspx?news_id=NB11485154
         http://www.hankookilbo.com/v/c84d6cac5b724ae0abed54dea809f3de

In [1]:
# pandas 패키지 불러오기
import pandas as pd
import numpy as np

In [5]:
# 데이터 로드 1
finance_Seoulsubway = pd.read_csv('finance_Seoulsubway.csv',
                     encoding= 'utf-8')
finance_Seoulsubway.head()

        연도              매출액             매출원가             당기순손익
0  2013(S)  596,201,963,034  835,326,052,218  -287,680,509,568
1  2014(S)  647,488,542,280  863,833,829,902  -265,836,117,117
2  2015(S)  689,223,983,780  897,941,397,776  -271,049,690,618
3  2016(S)  722,016,684,580  947,485,825,652  -272,801,235,816

In [8]:
# 데이터 로드 2
finance_Seoulmetro = pd.read_csv('finance_Seoulmetro.csv',
                     encoding= 'utf-8')
finance_Seoulmetro.head()

        연도                 매출액                매출원가              당기순손익
0  2013(M)  1,067,494,627,243   1,084,360,115,017   -129,510,145,454
1  2014(M)  1,114,767,263,318   1,188,909,032,035   -158,694,239,883
2  2015(M)  1,182,708,364,501   1,211,392,317,700   -142,658,944,073
3  2016(M)  1,249,259,792,094   1,222,892,279,743   -112,246,911,625

서울 지하철은 1~4호선을 운영하는 서울메트로, 5~9호선을 운영하는 서울도로교통공사로 이루어져있다.
따라서 이 둘의 지표를 합쳐서 볼필요가 있다.

In [14]:
data_result = pd.merge (finance_Seoulmetro, finance_Seoulsubway)
data_result

Empty DataFrame
Columns: [연도, 매출액, 매출원가, 당기순손익]
Index: []